{% extends 'base.html' %}

{% block content %}
{% load widget_tweaks %}
{% load static %}
<p></p>
<br>
<script>
function selectAll(selectAll)  {
  const checkboxes
       = document.getElementsByName('select_url');

  checkboxes.forEach((checkbox) => {
    checkbox.checked = selectAll.checked;
  })
}
</script>
<div class="list-group mb-3">
<form name="list-category" action="{% url 'inio:URLClassifier' %}" method="post">
{% csrf_token %}
    <select class="form-select form-select-sm mb-3" name="category">
        <option value="0">
        All
        </option>
        {% for category in categories %}
            <option value="{{category.id}}">
                {{ category }}
            </option>
        {% endfor %}
    </select>
    <input type="submit" class="form-control btn btn-info btn-sm" value="카테고리 필터링">
</form>
</div>

<form action="{% url 'inio:domain_check' %}" method="post" enctype="multipart/form-data">
{% csrf_token %}
<table class="main_table">
    <thead>
        <tr>
            <th scope=""col><input type="checkbox" name="select_url" value="0" onclick="selectAll(this)"> All</th>
            <th scope="col">Status</th>
            <th scope="col">Domain</th>
            <th scope="col">Description</th>
            <th scope="col">Created</th>
            <th scope="col">Updated</th>
            <th scope="col">Modify</th>
            <th scope="col">Delete</th>
        </tr>
    </thead>

    <tbody>
        {% for inio in object_list %}
        <tr>
            <td>
                <input type="checkbox" name="select_url" value={{ inio.id }}>
            </td>
            <td>
                {{ inio.status }}
            </td>
            <td>
                <a href="{% url 'inio:detail' pk=inio.id %}">{{ inio.domain }}</a>
            </td>
            <td>
                {{ inio.description }}
            </td>
            <td>
                {{ inio.created }}
            </td>
            <td>
                {{ inio.updated }}
            </td>
            <td>
                <a href="{% url 'inio:update' pk=inio.id %}" class="btn btn-info btn-sm">Modify</a>
            </td>
            <td>
                <a href="{% url 'inio:delete' pk=inio.id %}" class="btn btn-danger btn-sm">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<button class="btn btn-primary" type="submit">요청</button>
</form>
{% endblock %}


{% block pagination %}

{% if is_paginated %}
<ul class="pagination justify-content-center pagination-sm">
    {% if page_obj.has_previous %}
    <li class="page-item">
    <a class="page-link" href="{% url 'list' %}?page={{ page_obj.previous_page_number }}" tabindex="-1">이전</a>
    </li>
    {% else %}
    <li class="page-item disabled">
    <a class="page-link" href="#" tabindex="-1">이전</a>
    </li>
    {% endif %}

    {% for object in page_obj.paginator.page_range %}
    <li class="page-item {% if page_obj.number == forloop.counter %} disabled {% endif %}">
    <a class="page-link" href="{{ request.path }}?page={{ forloop.counter }}"> {{forloop.counter}} </a>
    {% endfor %}

    {% if page_obj.has_next %}
    <li class="page-item">
        <a class="page-link" href="{% url 'list' %}?page={{ page_obj.next_page_number }}">다음</a>
    {% else %}
    <li class="page-item disabled">
        <a class="page-link" href="#">다음</a>
    </li>
    {% endif %}
</ul>
{% endif %}

{% endblock %}